# Linear Regression Validation

This notebook uses linear regression implementations to validate the linear regression model of the `rust-ml` library. We'll use the same dataset to train a linear regression model.

In [14]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [6]:
import os
df = pd.read_csv('../datasets/advertising.csv')
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [7]:
# Normalize the dataset
df = (df - df.mean(axis=0)) / df.std(axis=0)
df.describe()

                 TV         Radio     Newspaper         Sales
count  2.000000e+02  2.000000e+02  2.000000e+02  2.000000e+02
mean   1.287859e-16 -4.263256e-16  2.309264e-16 -2.842171e-16
std    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
min   -1.704546e+00 -1.566936e+00 -1.389161e+00 -2.560707e+00
25%   -8.464055e-01 -8.950745e-01 -8.174990e-01 -7.817154e-01
50%    3.153601e-02 -2.451705e-02 -2.205833e-01  1.645567e-01
75%    8.360974e-01  8.931886e-01  6.679027e-01  7.417827e-01
max    1.739664e+00  1.773849e+00  3.831556e+00  2.246355e+00

In [12]:
# Split the dataset into training and testing sets
X = df[["TV", "Radio", "Newspaper"]].values
y = df["Sales"].values
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8)

In [17]:
# Create a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)
mse = model.score(X_test, y_test)

print("Model coefficients:", model.coef_)
print("Model intercept:", model.intercept_)
print("Mean Squared Error:", mse)

Model coefficients: [ 0.87428689  0.302683   -0.00535735]
Model intercept: 0.002942732717240885
Mean Squared Error: 0.9475813408058795